 /* =-=-=-=-=- { Blues } -=-=-=-=-= */
$light-blue: #23a2cd;
$blue: #1c83a6;
$dark-blue: #166580;

 /* =-=-=-=-=- { Whites } -=-=-=-=-= */

$light-white: #faf8f5;
$white: #e6e6e6;
$dark-white: #ebe7e1;

/* =-=-=-=-=- { Grays } -=-=-=-=-= */

$light-gray: #808080;
$gray: #404040;
$dark-gray: #262623;

 /* =-=-=-=-=- { Gradients } -=-=-=-=-= */

$gradient1: linear-gradient(-135deg, #23a2cd, #166580);

 /* =-=-=-=-=- { Shadow } -=-=-=-=-= */

$shadow1: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.019),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  30.1px 30.1px 24.1px rgba(0, 0, 0, 0.029),
  100px 100px 80px rgba(0, 0, 0, 0.04);
