@import 'colors';

a{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: $dark-blue;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1{
    font-size: 90px;
    font-family: 'Inter', sans-serif;
    line-height: 5rem;
}

h2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

h3{
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h4{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h5{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 3rem;
}

h6{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}